.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.caixa{
    margin-top: 5%;
    margin-left: 10%;
}
img:hover
{
    cursor: pointer;
}
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}
.nome{
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: none;
}
.email{
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: none;
}
.msg{
    height: 80px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: none;
}


input[type="submit"] {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}